@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex {
    align-items: center;
    display: flex;
    justify-content: center;
}

.body {
    background-color: hsl(217, 54%, 11%);
    color: hsl(215, 51%, 70%);
    font-family: 'Outfit', sans-serif;
    flex-direction: column;
    min-height: 100vh;
}

main {
    background-color: hsl(216, 50%, 16%);
    border-radius: 12px;
    box-shadow: 0 25px 25px #00040a;
    padding: 1.5rem;
    max-width: 21.875rem;
    width: 100%;
}

.image {
    position: relative;
    margin-bottom: 25px;
}

.link-image:active::after {
    align-items: center;
    background-color: hsla(178, 100%, 50%, 0.5);
    border-radius: 8px;
    content: url(./images/icon-view.svg);
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.image-equilibrium {
    border-radius: 8px;
    width: 100%;
}

h1 {
    font-size: 1.375em;
    font-weight: 600;
    margin-bottom: 20px;
}

p {
    font-size: 1.125em;
    font-weight: 300;
    margin-bottom: 28px;
}

h1 a,
.avatars a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}

h1 a:hover,
section a:hover {
    color: hsl(178, 100%, 50%);
    transition: 500ms;
}

.informations {
    border-bottom: 1px solid hsl(215, 32%, 27%);
    justify-content: space-between;
    padding-bottom: 1.5625rem;
}

.icon-ethereum {
    color: hsl(178, 100%, 50%);
    font-weight: 600;
}

.icon-ethereum,
.icon-clock {
    margin-left: 7px;
}

.avatars {
    justify-content: left;
    margin: 16px 0 8px 0;
}

.avatars h2 {
    font-size: 1em;
    font-weight: 300;
}

.avatars a {
    margin-left: 5px;
}

.image-avatar {
    border: 1px solid white;
    border-radius: 50%;
    height: 33px;
    margin-right: 16px;
}

.attribution {
    color: white;
    font-size: 11px;
    margin-top: 20px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 721px) {
    .link-image:hover::after {
        align-items: center;
        background-color: hsla(178, 100%, 50%, 0.5);
        border-radius: 8px;
        content: url(./images/icon-view.svg);
        display: flex;
        height: 100%;
        justify-content: center;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .link-image:active::after {
        background-color: hsla(200, 96%, 58%, 0.7);
    }
}
