@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    background-color: hsl(217, 54%, 11%);
    display: flex;
    font-family: 'Outfit', sans-serif;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

main {
    background-color: hsl(216, 50%, 16%);
    border-radius: 12px;
    padding: 24px;
    width: 350px;
}

#image {
    position: relative;
}

#link-image:active::after {
    align-items: center;
    background-color: hsla(178, 100%, 50%, 0.5);
    border-radius: 8px;
    content: url(./images/icon-view.svg);
    display: flex;
    height: 98.6%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0%;
    width: 100%;
}

#image-equilibrium {
    border-radius: 8px;
    width: 100%;
}

h1 a,
section a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}

h1 a:hover,
section a:hover {
    color: hsl(178, 100%, 50%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 721px) {
    #link-image:hover::after {
        align-items: center;
        background-color: hsla(178, 100%, 50%, 0.5);
        border-radius: 8px;
        content: url(./images/icon-view.svg);
        display: flex;
        height: 98.6%;
        justify-content: center;
        left: 0;
        position: absolute;
        top: 0%;
        width: 100%;
    }

    #link-image:active::after {
        background-color: hsla(200, 100%, 60%, 0.7);
    }
}